server {
    listen 80;
    # Listen for your specific software house domains
    server_name ztsolution.tech www.ztsolution.tech portal.ztsolution.tech;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        # Redirect all requests to index.html for React Router
        try_files $uri $uri/ /index.html;
    }

    # Standard error page for server issues
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}